<div class="tought-form-container">
  <a href="/hwschools/tarefas">Voltar</a>
    <h1>Criando uma Tarefa:</h1>
    <form action="/hwschools/add" method="POST">
        <div class="form-control">
            <!--<input type="hidden" name="idProfessor" value=req.session.userid>-->
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" placeholder="Digite o título">
            <label for="serie">Série:</label>
            <input type="text" name="serie" placeholder="Digite a série: 1, 2 ou 3">   
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" placeholder="Digite a descrição">
            <!--<label for="idProfessor">idProfessor:</label>
            <input type="text" name="idProfessor" value="req.session.userid">-->
        </div>
        <input type="submit" value="Criar Tarefa">
    </form>
</div>