<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pensamentos</title>
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/img/nome_do_arquivo.ext" alt="logo">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if session.userid}}
            <li><a href="/hwschools/tarefas">Suas Tarefas</a></li>
            <li><a href="/logout">Sair</a></li>
            {{else}}
            <li><a href="/login/aluno">Aluno</a></li>
            <li><a href='/login/professor'>Professor</a></li>
            {{/if}}
        </ul>
    </nav>
    
    <div class="container">
        {{#if messages.message}}
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="message">
            {{message}}
        </div>
        {{/if}}
        {{{ body }}}
    </div>

    <footer>
        <p><span>Rodapé</span> &copy; 2023</p>
    </footer>

</body>
</html>

